* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: rgb(19, 25, 33);
    height: 80px;
}

.logo-container {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
}

.container-header {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 20px;
}

.logo {
    height: 90px;
    width: 80px;
    display: flex;
    border: 1.5px solid transparent;
}

.boarder-white:hover {
    border: 1.5px solid #ffff;
    padding: 5px;
  
}

.address-container {
    display: flex;
    color: white;
    margin-left: 80px;
}

.icon2 {
    display: flex;
    align-items: center;
}

.icon3 {
    width: 40px;
    height: 40px;
    margin-bottom: 19px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

#p2 {
    margin: 0;
padding-top: 20px;
padding-bottom: 20px;
}



.search-container {
    margin-left: 25px;
    width:640px ;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover{
    outline: 3px solid orange;
}
.search-select{
    width: 60px;
    border: none;
    background-color: rgb(237, 237, 237);
}
.search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon{
    width: 40px;
    background-color: rgb(251, 196, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}
.language-container{
    margin-left: 30px;
    margin-top: 16px;
    padding-left: 20px;
    justify-content: center;
    justify-items: center;
    
}
.language-container p{
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    margin: 0;
    
}
.language-image{
width: 25px;
}
.language-image img{
    width: 150%;
}
.login-containerp{
    margin: 0;
}
.login-container{
    color: white;
    margin-left: 20px;
}
.account{
    font-weight: 800;
    font-size: 0.8rem;
    padding-top: -6px;
}
.return-order-container{
    color: white;
    width: 61px;
    font-size: 0.8rem;
    margin-left: 30px;
}

.order{
    font-weight: 800;
    font-size: 1rem;
    display: flex;
    width: 70px;
}

.cart-container{
 margin-left: 50px;
    color: white;
}